<div *ngIf="sale" class="container">
	<div class="card z-depth-1">
		<button class="waves-effect waves-light btn black" (click)='backToParent()'><i class="material-icons left">arrow_back</i>atrás</button>
		<div class="row">
			<div class="col s12">
    			<h2 class="center-align">Detalle de Venta</h2>
    		</div>
    	</div>
    	<div class="row">
			<div class="input-field col s6">
	          <input disabled [(ngModel)]="sale.client_id" id="client_id" type="text" class="validate">
	          <label class="active" for="sale.client_id">Id del cliente</label>
	        </div>
	        <div class="input-field col s6">
	          <input disabled [(ngModel)]="sale.date" id="purchase_date" type="text" class="validate">
	          <label class="active" for="purchase_date">Fecha</label>
	        </div>
        </div>
        <div class="row">
        	<div class="input-field col s6">
	          <input disabled [(ngModel)]="sale.client_name" id="client_name" type="text" class="validate">
	          <label class="active" for="client_name">Nombre</label>
	      	</div>
	        <div class="input-field col s6">
	          <input disabled [(ngModel)]="sale.client_phone" id="client_phone" type="text" class="validate">
	          <label class="active" for="client_phone">Celular</label>
	      	</div>
	      	<div class="input-field col s6">
	          <input disabled [(ngModel)]="sale.client_address" id="client_address" type="text" class="validate">
	          <label class="active" for="client_address">Dirección</label>
	      	</div>
        </div>

       <table class="centered responsive-table highlight striped">
	        <thead>
	          <tr>
	              <th>Cantidad</th>
	              <th>Codigo del producto</th>
	              <th>Nombre del producto</th>
	              <th>PVP</th>
	              <th>Importe</th>
	          </tr>
	        </thead>

	        <tbody>
	        	 <tr *ngFor="let item of sale.items ; index as i">
		            <td> {{item.quantity}}</td>
		            <td>{{item.product_id}}</td>
		            <td> {{item.product_name}}</td>
		            <td> {{item.price | currency}}</td>
		            <td> {{item.amount | currency}}</td>
	         	</tr>
	        </tbody>
    	</table>
    
	    	<div class="row">
	    		<div class="col offset-s8 s2">
	    			<h6><b>Subtotal:</b></h6>
	    		</div>
	    		<div class="col s1">
	    			<h6>{{sale.subtotal | currency}}</h6>
	    		</div>
	    		<div class="col offset-s8 s2">
	    			<h6><b>IVA:</b></h6>
	    		</div>
	    		<div class="col s1">
	    			<h6>{{sale.tax| currency}}</h6>
	    		</div>
	    		<div class="col offset-s8 s2">
	    			<h6><b>Total:</b></h6>
	    		</div>
	    		<div class="col s1">
	    			<h6>{{sale.total | currency}}</h6>
	    		</div>
	    	</div>
	</div>
</div>
