div.row a{
	transition: background-color .3s;
    font-size: 1rem;
    color: #fff;
    
    padding: 0 15px;
    cursor: pointer;
    text-decoration-style: none;
    color: white;
    
}

div.row a:focus{
    outline: none;

}

div.row a: hover{
	color: #312a2a;
}

div div.col{
	padding: 3%;
	padding-left: 15%;
}

div.row{
	margin-left: 0 !important;
	width: 100%;

}

.mat-drawer {
    background-color: black;
    width: 50%;
    padding-left: 1%;


   
}

ul:not(.browser-default) > li {
    list-style-type: disc;
}

hr{
	color: white;
	margin: 1%;
	margin-bottom: 3%;
}

.neptuno_letters_black_side{
    width: 130px;
}

.neptuno_letters_black_small{
    width: 140px;
}