<app-navbar></app-navbar>
<div class="" style="text-align: center;">
  <h4 style="text-align: center;">Clientes</h4>
  <div class="container">
    <table>
      <tr>
        <th>Identificacion</th>
        <th>Nombre</th>
        <th>E-mail</th>
        <th>Telefono</th>
        <th>Direccion</th>
      </tr>
      <tr *ngFor="let client of clients; index as i" (click)="select(i)">
        <td>{{ client.client_id }}</td>
        <td>{{ client.client_name }}</td>
        <td>{{ client.client_email }}</td>
        <td>{{ client.client_phone }}</td>
        <td>{{ client.client_address }}</td>
      </tr>
    </table>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <button
        mat-raised-button
        (click)="addClient()"
        style="text-align: center;"
        color="primary"
      >
        Añadir cliente
      </button>
    </div>
  </div>
</div>
