<app-navbar></app-navbar>
<div class="container wide">
	<div class="card z-depth-3 #263238 blue-grey darken-4" id="container">
		<div class="row">
          <div class="col s12 ">
            <h5 class="white-text"><strong>Bienvenido {{user.first_name}}!</strong></h5>
          </div>
    </div>
            <section class="container main">
              <div class="row ">
                <div class="col s12  m4">
                  <div class="card stats z-depth-5 monthly-profit">
                    <span><b>$76426</b></span>
                    <br>
                    <span><strong>IMPORTE TOTAL</strong></span>
                    
                    <div class="sub-label">
                        <p>Monto Mensual</p>
                    </div>
                  </div>
                </div>

                <div class="col s12  m4">
                    <div class="card stats z-depth-5 monthly-sale">
                      <span><b>54866</b></span>
                      <br>
                      <span><strong>TOTAL PEDIDOS </strong></span>
                      
                      <div class="sub-label">
                          <p>Monto Mensual</p>
                      </div>
                    </div>
                </div>

                <div class="col s12  m4">
                    <div class="card stats z-depth-5 monthly-collection">
                      <span><b>54866</b></span>
                      <br>
                      <span><strong>TOTAL POR COBRAR </strong></span>
                      
                      <div class="sub-label">
                          <p>Monto Mensual</p>
                      </div>
                    </div>
                </div>
                
               
               
              </div>
              <div id="chartContainer" class="black" ></div>
            </section>
          
        </div>
    
</div>