<app-navbar></app-navbar>
<div class="container " style="text-align: center;">
  <h4 style="text-align: center;">Registro Inventario</h4>
  <button mat-raised-button (click)="openDialog()" style="text-align: center;" color="primary" >Añadir</button>
  <div class=container>
    <!-- <table>
      <tr>
        <th>Nombre</th>
        <th>Código</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Es materia prima</th>
        <th>Tiene iva</th>
      </tr>
      <tr *ngFor="let product of products">
        <td>{{product.name}}</td>
        <td>{{product.id}}</td>
        <td>{{product.price}}</td>
        <td>{{product.stock}}</td>
        <td><mat-icon>{{product.isPrime ? 'check' : 'close'}}</mat-icon></td>
        <td><mat-icon>{{product.taxable ? 'check' : 'close'}}</mat-icon></td>
      </tr>
    </table> -->
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Código </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Precio </th>
          <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>
      <ng-container matColumnDef="stock">
          <th mat-header-cell *matHeaderCellDef> Cantidad </th>
          <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
      </ng-container>
      <ng-container matColumnDef="isPrime">
          <th mat-header-cell *matHeaderCellDef> Es materia prima </th>
          <td mat-cell *matCellDef="let element"> <mat-icon>{{element.isPrime ? 'check' : 'close'}}</mat-icon> </td>
      </ng-container>
      <ng-container matColumnDef="taxable">
          <th mat-header-cell *matHeaderCellDef> Grava IVA </th>
          <td mat-cell *matCellDef="let element"> <mat-icon>{{element.taxable ? 'check' : 'close'}}</mat-icon> </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
