<app-navbar></app-navbar>
<div class="container">
  <div class="card z-depth-1">
    <h2>Registro</h2>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input [(ngModel)]="user.first_name" name="user.first_name" type="text" class="validate">
            <label>Primer nombre</label>
          </div>
          <div class="input-field col s6">
            <input [(ngModel)]="user.middle_name" name="user.middle_name" type="text" class="validate">
            <label >Segundo nombre</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="family_name" [(ngModel)]="user.family_name" name="user.family_name" type="text" class="validate">
            <label for="user.family_name">Primer apellido</label>
          </div>
          <div class="input-field col s6">
            <input [(ngModel)]="user.last_name" name="user.last_name" type="text" class="validate">
            <label >Segundo apellido</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input [(ngModel)]="user.id" name="user.id" type="text" class="validate">
            <label >Numero de cedula</label>
          </div>
          <div class="input-field col s6">
            <input id="email" [(ngModel)]="user.email" name="user.email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input [(ngModel)]="user.password" name="user.password" type="password" class="validate">
            <label >Password</label>
          </div>
        </div>
        <div class="row">
          <div class="col s1 offset-s5">
            <button class="waves-effect waves-light black btn" (click)="save()">save</button> 
          </div>
        </div>
      </form>
    </div>  
  </div>
</div>